@import "../abstracts/extends";
@import "../base/tipography";

.busquedas-contenedor {
    @extend %in-stack;
    padding: 20px 60px;
    align-items: flex-start;
    font-family: $tipografia-principal;
    background-color: black;
    color: white;
    
    h2 {
        padding-bottom: 10px;
    }
}

.filtros-contenedor {
    @extend %in-line;
    justify-content: space-between;
}

.botones-contenedor {
    display:flex;
    justify-content: flex-end;    
}