@import "../abstracts/extends";
@import "../base/tipography";



.card-comic-simple-contenedor {
    @extend %is-clickeable !optional;
    margin: 0 5px 30px;
    box-shadow: 10px 5px 5px rgb(189, 185, 185);
    height: auto;
    width: calc(100% / 5 - 2 * 10px);;
    position:relative;
    &:hover {
        @extend %move-up;
        .comic-titulo {
            color: #ed1d23;
          }   
    }
    /*Male: elegi mover toda la tarjeta 
    y no solo la img como en el proyecto de ADA
    porque me gusta mas como queda */
    .comic-img-contenedor {
        flex-grow: 1;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
        }
    }

      .comic-titulo-contenedor {
        height: 64px;
        margin-top: 25px;
        font-family: $tipografia-principal;
        .comic-titulo {
          font-size: 14px;
          margin: 5px;  
        }       
      }

}
  






.card-detalle-contenedor {
    font-family: $tipografia-principal;
}
.card-comic-detalle-contenedor {
    display:flex;
    .comic-img-contenedor {
        margin-right: 20px;
    }
}

.comic-contenido-contenedor {
    margin-left: 20px;

    h1, h3, p {
        margin: 20px;
    }
   
}

.personajes-cards-contenedor{
       @extend %in-grid;
}

.personajes-contenedor {
    h3, h4 {
       margin: 20px 0px; 
    }
    
}
